@import '../container/container.scss';
@import '../container/variables.scss';

.contents {
  .navbar {
   @include spaceBetween;
    align-items: center;
    padding: 0.4rem 1.4rem;
    background-color: #3e426b;
    color: white;
    border-radius: 7px;
    margin-bottom: 1rem;
    position: sticky;
    top: 2px;

    ul {
      @include spaceBetween;
      align-items: center;
      border-radius: 5px;
      li{
        margin-right: 1rem;
        font-size: 13px;
        &:first-child{
          font-weight: 600;
        }
        &:nth-child(2), &:nth-child(3){
          font-weight: 600;
          font: 12px;
        }
        .sugg__icon{
          font-size: 20px;
        }
        .sort__by{
          color: #a1a5c0;
        }
        .most__votes{
          font-size: 11px
        }
      }
    }

    .btn {
      padding: 0.6rem 1.2rem;
      border-radius: 5px;
      border: none;
      background: #bb45cb;
      color: white;
    }
  }
  .main {
    .paper {
      @include paper;
      padding: 1.5rem;
      margin-bottom: 0.8rem;
      @include spaceBetween;

    }
    .left__wrap {
      display: grid;
      grid-template-columns: 1fr 5fr;
      grid-column-gap: 1rem;
      .index {
        height: 40px;
        width: 35px;
        text-align: center;
        font-size: 15px;
        border-radius: 5px;
        background-color: var(--bg-primary);
        color: var(--text-dark-color);
   
        p{
          font-weight: 600;
        }
      }
      .title {
        font-size: 16px;
      }
      .description {
        font-size: 13px;
        padding: 0.5rem 0;
        color: #8d8d8d;
      }
      .tag {
        padding: 4px 12px;
        font-size: 10px;
        border-radius: 5px;
      }
    }
    .right__wrap{
      display: flex;
      width: 40px;
      justify-content: space-around;
      align-items: center;
    }
    .fa-comment{
      color: #c5c9d8;
    }
    .comment__count{
      color: #6b6e85;
    }
  }
}


@media screen and (max-width: 768px){
  .sidebar{
    margin-bottom: 1rem;
  }
  .navbar{
    flex-direction: column;
  }
  .btn{
    margin: 1rem 0;
  }
}
